<ul class="links">
    <li>
        <a href="#banner" class="scrolly">Home</a>
    </li>
    <li>
        <a href="#past-working-experience" class="scrolly">Past Working Experience</a>
    </li>
    <li>
        <a href="#invited-presentations" class="scrolly">Invited Presentations</a>
    </li>
    <li>
        <a href="#project" class="scrolly">Personal Projects</a>
    </li>
</ul>
<ul class="actions stacked">
    <li>
        <a href="#contact" class="button fit scrolly">Contact Me</a>
    </li>
</ul>